.board {
  width: 610px;
  height: 480px;
  position: relative;
  background-color: #335533;
  box-sizing: border-box;
  border: 10px solid black;
  border-radius: 10px;
  margin: 0px;
  padding: 0px;
}

.left-bin {
  position: relative;
  left: 15px;
  top: 0px;
}

.right-bin {
  position: relative;
  left: 330px;
  top: -389px;
}

.arrow-down {
	width: 0px; 
	height: 0px; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 195px solid green;
  border-bottom: 0px solid;
  display: inline;
  float: left;
}

.left-bin .bottom-row {
  clear: left;
}

.right-bin .top-row {
  clear: left;
}

.right-bin .bottom-row {
  clear: left;
}

.bottom-row {
  position: relative;
  top: 70px
}
/*
.bottom-row, .top-row {
  margin: 0 auto;
  width: 550px;
  clear: both;
}
*/


.arrow-up {
	width: 0px; 
	height: 0px; 
  border-top: 0px solid;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent ;
	border-bottom: 195px solid green;
  display: inline;
  float: left;
}

.arrow-up.odd {
  border-bottom: 195px solid #044;}

.arrow-down.even {
  border-top: 195px solid #044;}

.middle-bar {
  width: 20px;
  height: 450px;
  padding: 5px;
  background-color: black;
  position: absolute;
  left: 280px;
  top: 0px;
  
}

.piece_1 {
  width: 36px;
  height: 36px;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 17px;
  z-value: 1;
  border-radius: 18px;
}

.piece_2 {
  width: 36px;
  height: 36px;
  background-color: #fff;
  position: absolute;
  top: 38px;
  left: 17px;
  z-value: 1;
  border-radius: 18px;
  opacity: 0.6;
}

.piece_3 {
  width: 36px;
  height: 36px;
  background-color: #fff;
  position: absolute;
  top: 76px;
  left: 17px;
  z-value: 1;
  border-radius: 18px;
  opacity: 0.6;
}
.piece_4 {
  width: 36px;
  height: 36px;
  background-color: #fff;
  position: absolute;
  top: 114px;
  left: 17px;
  z-value: 1;
  border-radius: 18px;
  opacity: 0.6;
}

.piece_5 {
  width: 36px;
  height: 36px;
  background-color: #fff;
  position: absolute;
  top: 152px;
  left: 17px;
  z-value: 1;
  border-radius: 18px;
  opacity: 0.6;
}

